  @* ! Brand demo (display only for navbar-full and hide on below xl) *@
  @if (ViewData["navbarFull"] != null)
  {
    <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
      <a asp-page="/Index" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
          @await Html.PartialAsync("../_Partials/_Macros")
        </span>
        <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
      </a>

      @* ! Display menu close icon only for horizontal-menu with navbar-full *@
      @if (Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True")
      {
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
          <i class="mdi mdi-close align-middle"></i>
        </a>
      }
    </div>
  }

  @* ! Not required for layout-without-menu *@
  @if (ViewData["navbarHideToggle"] == null)
  {
    <div class='layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0  @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? "" : "d-xl-none") @((@ViewData["contentNavbar"] != null && Convert.ToBoolean(@ViewData["contentNavbar"])) ? "" : "d-xl-none")'>
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="mdi mdi-menu mdi-24px"></i>
      </a>
    </div>
  }

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item navbar-search-wrapper mb-0">
        <a class="nav-item nav-link search-toggler fw-normal px-0" href="javascript:void(0);">
          <i class="mdi mdi-magnify mdi-24px scaleX-n1-rtl"></i>
          <span class="d-none d-md-inline-block text-muted">Search (Ctrl+/)</span>
        </a>
      </div>
    </div>
    <!-- /Search -->


    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- Language -->
      <li class="nav-item dropdown-language dropdown me-1 me-xl-0">
        <a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <i class='mdi mdi-translate mdi-24px'></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="en">
              <span class="align-middle">English</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="fr">
              <span class="align-middle">French</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="de">
              <span class="align-middle">German</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="pt">
              <i class="fi fi-pt me-1"></i>
              <span class="align-middle">Portuguese</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ Language -->

      <!-- Style Switcher -->
      <li class="nav-item me-1 me-xl-0">
        <a class="nav-link btn btn-text-secondary rounded-pill btn-icon style-switcher-toggle hide-arrow" href="javascript:void(0);">
          <i class='mdi mdi-24px'></i>
        </a>
      </li>
      <!--/ Style Switcher -->

      <!-- Quick links  -->
      <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-1 me-xl-0">
        <a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <i class='mdi mdi-view-grid-plus-outline mdi-24px'></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end py-0">
          <div class="dropdown-menu-header border-bottom">
            <div class="dropdown-header d-flex align-items-center py-3">
              <h5 class="text-body mb-0 me-auto">Shortcuts</h5>
              <a href="javascript:void(0)" class="dropdown-shortcuts-add text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Add shortcuts"><i class="mdi mdi-view-grid-plus-outline mdi-24px"></i></a>
            </div>
          </div>
          <div class="dropdown-shortcuts-list scrollable-container">
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="mdi mdi-calendar fs-4"></i>
                </span>
                <a asp-page="/Apps/Calendar" class="stretched-link">Calendar</a>
                <small class="text-muted mb-0">Appointments</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="mdi mdi-file-document-outline fs-4"></i>
                </span>
                <a asp-page="/Apps/Invoice/List" class="stretched-link">Invoice App</a>
                <small class="text-muted mb-0">Manage Accounts</small>
              </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="mdi mdi-account-outline fs-4"></i>
                </span>
                <a asp-page="/Apps/Users/List" class="stretched-link">User App</a>
                <small class="text-muted mb-0">Manage Users</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="mdi mdi-shield-check-outline fs-4"></i>
                </span>
                <a asp-page="/Apps/Access/Roles" class="stretched-link">Role Management</a>
                <small class="text-muted mb-0">Permission</small>
              </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="mdi mdi-chart-pie-outline fs-4"></i>
                </span>
                <a asp-page="/Index" class="stretched-link">Dashboard</a>
                <small class="text-muted mb-0">User Profile</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="mdi mdi-cog-outline fs-4"></i>
                </span>
                <a asp-page="/Pages/AccountSettings/Account" class="stretched-link">Setting</a>
                <small class="text-muted mb-0">Account Settings</small>
              </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="mdi mdi-help-circle-outline fs-4"></i>
                </span>
                <a asp-page="/Pages/HelpCenter/Landing" class="stretched-link">Help Center</a>
                <small class="text-muted mb-0">FAQs & Articles</small>
              </div>
              <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                  <i class="mdi mdi-dock-window fs-4"></i>
                </span>
                <a asp-page="/Modals/Examples" class="stretched-link">Modals</a>
                <small class="text-muted mb-0">Useful Popups</small>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!-- Quick links -->

      <!-- Notification -->
      <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-2 me-xl-1">
        <a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <i class="mdi mdi-bell-outline mdi-24px"></i>
          <span class="position-absolute top-0 start-50 translate-middle-y badge badge-dot bg-danger mt-2 border"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end py-0">
          <li class="dropdown-menu-header border-bottom">
            <div class="dropdown-header d-flex align-items-center py-3">
              <h6 class="mb-0 me-auto">Notification</h6>
              <span class="badge rounded-pill bg-label-primary">8 New</span>
            </div>
          </li>
          <li class="dropdown-notifications-list scrollable-container">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-action dropdown-notifications-item">
                <div class="d-flex gap-2">
                  <div class="flex-shrink-0">
                    <div class="avatar me-1">
                      <img src="~/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 overflow-hidden w-px-200">
                    <h6 class="mb-1 text-truncate">Congratulation Lettie 🎉</h6>
                    <small class="text-truncate text-body">Won the monthly best seller gold badge</small>
                  </div>
                  <div class="flex-shrink-0 dropdown-notifications-actions">
                    <small class="text-muted">1h ago</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action dropdown-notifications-item">
                <div class="d-flex gap-2">
                  <div class="flex-shrink-0">
                    <div class="avatar me-1">
                      <span class="avatar-initial rounded-circle bg-label-danger">CF</span>
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 overflow-hidden w-px-200">
                    <h6 class="mb-1 text-truncate">Charles Franklin</h6>
                    <small class="text-truncate text-body">Accepted your connection</small>
                  </div>
                  <div class="flex-shrink-0 dropdown-notifications-actions">
                    <small class="text-muted">12hr ago</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                <div class="d-flex gap-2">
                  <div class="flex-shrink-0">
                    <div class="avatar me-1">
                      <img src="~/img/avatars/2.png" alt class="w-px-40 h-auto rounded-circle">
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 overflow-hidden w-px-200">
                    <h6 class="mb-1 text-truncate">New Message ✉️</h6>
                    <small class="text-truncate text-body">You have new message from Natalie</small>
                  </div>
                  <div class="flex-shrink-0 dropdown-notifications-actions">
                    <small class="text-muted">1h ago</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action dropdown-notifications-item">
                <div class="d-flex gap-2">
                  <div class="flex-shrink-0">
                    <div class="avatar me-1">
                      <span class="avatar-initial rounded-circle bg-label-success"><i class="mdi mdi-cart-outline"></i></span>
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 overflow-hidden w-px-200">
                    <h6 class="mb-1 text-truncate">Whoo! You have new order 🛒 </h6>
                    <small class="text-truncate text-body">ACME Inc. made new order $1,154</small>
                  </div>
                  <div class="flex-shrink-0 dropdown-notifications-actions">
                    <small class="text-muted">1 day ago</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                <div class="d-flex gap-2">
                  <div class="flex-shrink-0">
                    <div class="avatar me-1">
                      <img src="~/img/avatars/9.png" alt class="w-px-40 h-auto rounded-circle">
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 overflow-hidden w-px-200">
                    <h6 class="mb-1 text-truncate">Application has been approved 🚀 </h6>
                    <small class="text-truncate text-body">Your ABC project application has been approved.</small>
                  </div>
                  <div class="flex-shrink-0 dropdown-notifications-actions">
                    <small class="text-muted">2 days ago</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                <div class="d-flex gap-2">
                  <div class="flex-shrink-0">
                    <div class="avatar me-1">
                      <span class="avatar-initial rounded-circle bg-label-success"><i class="mdi mdi-chart-pie-outline"></i></span>
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 overflow-hidden w-px-200">
                    <h6 class="mb-1 text-truncate">Monthly report is generated</h6>
                    <small class="text-truncate text-body">July monthly financial report is generated </small>
                  </div>
                  <div class="flex-shrink-0 dropdown-notifications-actions">
                    <small class="text-muted">3 days ago</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                <div class="d-flex gap-2">
                  <div class="flex-shrink-0">
                    <div class="avatar me-1">
                      <img src="~/img/avatars/5.png" alt class="w-px-40 h-auto rounded-circle">
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 overflow-hidden w-px-200">
                    <h6 class="mb-1 text-truncate">Send connection request</h6>
                    <small class="text-truncate text-body">Peter sent you connection request</small>
                  </div>
                  <div class="flex-shrink-0 dropdown-notifications-actions">
                    <small class="text-muted">4 days ago</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action dropdown-notifications-item">
                <div class="d-flex gap-2">
                  <div class="flex-shrink-0">
                    <div class="avatar me-1">
                      <img src="~/img/avatars/6.png" alt class="w-px-40 h-auto rounded-circle">
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 overflow-hidden w-px-200">
                    <h6 class="mb-1 text-truncate">New message from Jane</h6>
                    <small class="text-truncate text-body">Your have new message from Jane</small>
                  </div>
                  <div class="flex-shrink-0 dropdown-notifications-actions">
                    <small class="text-muted">5 days ago</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                <div class="d-flex gap-2">
                  <div class="flex-shrink-0">
                    <div class="avatar me-1">
                      <span class="avatar-initial rounded-circle bg-label-warning"><i class="mdi mdi-alert-circle-outline"></i></span>
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 overflow-hidden w-px-200">
                    <h6 class="mb-1">CPU is running high</h6>
                    <small class="text-truncate text-body">CPU Utilization Percent is currently at 88.63%,</small>
                  </div>
                  <div class="flex-shrink-0 dropdown-notifications-actions">
                    <small class="text-muted">5 days ago</small>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown-menu-footer border-top p-2">
            <a href="javascript:void(0);" class="btn btn-primary d-flex justify-content-center">
              View all notifications
            </a>
          </li>
        </ul>
      </li>
      <!--/ Notification -->

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="~/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" asp-page="/Pages/AccountSettings/Account">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="~/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-semibold d-block">John Doe</span>
                  <small class="text-muted">Admin</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" asp-page="/Pages/Profile/User">
              <i class="mdi mdi-account-outline me-2"></i>
              <span class="align-middle">My Profile</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" asp-page="/Pages/AccountSettings/Account">
              <i class="mdi mdi-cog-outline me-2"></i>
              <span class="align-middle">Settings</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" asp-page="/Pages/AccountSettings/Billing">
              <span class="d-flex align-items-center align-middle">
                <i class="flex-shrink-0 mdi mdi-credit-card-outline me-2"></i>
                <span class="flex-grow-1 align-middle">Billing</span>
                <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
              </span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" asp-page="/Pages/HelpCenter/Landing">
              <i class="mdi mdi-lifebuoy me-2"></i>
              <span class="align-middle">Help</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" asp-page="/Pages/Faq">
              <i class="mdi mdi-help-circle-outline me-2"></i>
              <span class="align-middle">FAQ</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" asp-page="/Pages/Pricing">
              <i class="mdi mdi-currency-usd me-2"></i>
              <span class="align-middle">Pricing</span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" asp-page="/Auth/Login/Cover" target="_blank">
              <i class="mdi mdi-logout me-2"></i>
              <span class="align-middle">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->

    </ul>
  </div>

  <!-- Search Small Screens -->
  <div class='navbar-search-wrapper search-input-wrapper @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? @ViewData["containerNav"] : "") d-none'>
    <input type="text" class='form-control search-input @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? "" : @ViewData["containerNav"]) border-0' placeholder="Search..." aria-label="Search...">
    <i class="mdi mdi-close search-toggler cursor-pointer"></i>
  </div>
