<div id="wcml-setup-wizard" class="wcml-banner">
    <p>{{ text.prepare }}</p>
    <p>{{ text.help }}</p>
    <ul class="wcml-notice-list">
        <li>{{ text.store }}</li>
        <li>{{ text.attributes }}</li>
        <li>{{ text.currencies }}</li>
    </ul>
    </p>
    <div class="submit">
        <a href="{{ setup_url }}"
           class="button-primary">{{ text.start }}</a>
        <a href="{{ skip_url|raw }}"
           class="button-secondary skip">{{ text.skip }}</a>
    </div>
</div>
