
<span id="{{ strings.step_id }}">
<h1>{{ strings.heading }}</h1>

<div>{{ strings.description.title }}</div>
<ul>
    <li>{{ strings.description.step1 }}</li>
    <li>{{ strings.description.step2 }}</li>
    <li>{{ strings.description.step3 }}</li>
    <li>{{ strings.description.step4 }}</li>
</ul>

<p class="wcml-setup-actions step">
    <a href="{{ later_url }}" class="setup_later">{{ strings.later }}</a>
    <a href="{{ continue_url }}" class="button button-primary button-large">{{ strings.continue }}</a>
</p>
</span>
